.interests_wrapper {
  height: 120%;
  padding: var(--main-padding);
  color: var(--color-darkblue);
  background-color: var(--color-teal);
}

.interests_wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests_logo_wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  max-width: var(--max-width);
}

.interests_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  font-size: 2.5rem;
  background: white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 0 12px var(--color-shadowblue);
  transition: all 0.5s;
}

.interests_box_wrapper {
  margin: 10px;
}
.interests_box:hover {
  transform: rotate(360deg);
}

.interests_logo_desciption {
  display: none;
}

@media (min-width: 768px) {
  .interests_logo_desciption {
    display: flex;
    font-size: 1rem;
    font-style: italic;
    margin: 0 1rem;
  }
  .interests_logo_wrapper {
    flex-flow: column;
    align-items: flex-start;
    width: 90%;
  }
  .interests_box_wrapper:nth-child(even) {
    align-self: flex-end;
    flex-flow: row-reverse;
  }
  .interests_box_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
