.techstack_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  padding: var(--main-padding);
  text-align: center;
  color: white;
  background-color: var(--color-darkblue);
}

.techstack_logos {
  display: flex;
  flex-flow: wrap;
  font-size: 4rem;
  justify-content: center;
  max-width: var(--max-width);
}

.techstack_logos > i {
  margin: 15px;
}

.techstack_logo-new {
  border: 3px solid white;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
